.tagPage {
  background-color: #292929;
  border: none;
  border-radius: 40px;
  width: 120px;
  height: 30px;
  padding: 3px 18px;
  font-weight: bold;
}

@media (min-width: 481px) and (max-width: 820px) {
  .Apresentation {
    & #tagPageSobre {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 140px;
    }
  }
}

@media (max-width: 480px) {
  .tagPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
