.tagPage {
  background-color: #292929;
  border: none;
  border-radius: 40px;
  width: 120px;
  height: 30px;
  padding: 3px 18px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .tagPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}