.FormsSection {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  padding: 0 130px;

  & .tituloForms {
    text-align: center;
    margin-bottom: 40px;
    h1 {
      color: #000000;
      font-weight: bold;
      font-size: 50px;
    }

    & p {
      margin-top: 20px;
      font-weight: 500;
    }
  }

  & .formulario {
    width: 45em;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border-radius: 50px;
    color: #000000;
    margin-bottom: 130px;

    & form {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      & textarea {
        width: 100%;
        height: 150px;
        padding: 20px;
        border-radius: 30px;
        background-color: #5e5e5e;
        color: #fff;
        font-size: 18px;
        margin-top: 20px;
        border: none;
        resize: none;
        font-family: inherit;

        &::placeholder {
          color: #ffffff60;
          font-size: 18px;
        }
      }

      & input {
        width: 100%;
        height: 40px;
        padding-left: 20px;
        border-radius: 40px;
        background-color: #5e5e5e;
        color: #fff;
        font-size: 20px;
        margin-top: 20px;
        border: none;

        &::placeholder {
          color: #ffffff60;
          font-size: 20px;
        }
      }

      & button {
        margin-top: 40px;
        height: 50px;
        width: 95%;
        font-weight: bold;
        background-color: #000000;
        color: #fff;
        border-radius: 40px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: none;
      }

      & button:hover {
        background-color: #ffffff;
        color: #000000;
        box-shadow: 0px 0px 20px #000000;
        border: 5px solid #ffffff;
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

@media (max-width: 1367px) {
  .FormsSection {
    & .formulario {
      width: 40rem;
      height: 50rem;

      & .tituloForms & h1 {
        font-size: 40px;
      }

      & p {
        margin-bottom: -20px;
      }
    }
  }
}

@media (max-width: 1120px) {
  .FormsSection {
    width: 90%;
    padding: 0 80px;
    margin-top: 120px;

    & .formulario {
      width: 35rem;
      height: 120vh;
      padding: 35px;

      & .tituloForms {
        & h1 {
          font-size: 35px;
        }

        & p {
          font-size: 16px;
        }
      }

      & form {
        & input {
          font-size: 18px;
          padding-left: 18px;
        }

        & textarea {
          font-size: 17px;
          height: 140px;
          padding: 18px;
        }

        & button {
          width: 93%;
          height: 48px;
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .FormsSection {
    flex-direction: column;
    padding: 0 0px;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;

    & img {
      width: 90vw;
      max-width: 100%;
      margin-bottom: 20px;
      height: auto;
    }

    & .formulario {
      width: 100vw;
      max-width: 100%;
      height: auto;
      padding: 20px 30px;
      margin-bottom: 0;
      margin-top: -10vh;

      & .tituloForms h1 {
        font-size: 44px;
        text-align: center;
      }

      & p {
        font-size: 14px;
        text-align: center;
      }

      & input,
      & textarea {
        font-size: 16px;
        padding: 10px 15px;
      }

      & button {
        height: 40px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 609px) {
  .FormsSection {
    flex-direction: column;
    padding: 0 8px;
    align-items: center;
    justify-content: center;
    min-height: 68vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;

    & img {
      width: 90vw;
      max-width: 100%;
      margin-bottom: 19px;
      height: auto;
    }

    & .formulario {
      width: 96vw;
      max-width: 100%;
      height: auto;
      padding: 19px 28px;
      margin-bottom: 0;
      margin-top: -9vh;

      & .tituloForms h1 {
        font-size: 40px;
        text-align: center;
      }

      & p {
        font-size: 14px;
        text-align: center;
      }

      & input,
      & textarea {
        font-size: 15.8px;
        padding: 9.5px 14.5px;
      }

      & button {
        height: 39.5px;
        font-size: 15.8px;
      }
    }
  }
}

@media (max-width: 575px) {
  .FormsSection .formulario {
    margin-bottom: 80px;
    & .tituloForms h1 {
      font-size: 30px;
    }
  }
}

@media (max-width: 480px) {
  .Home {
    width: 480px;
    height: 60vh;

    & .TextHome {
      font-size: 2rem;
      margin-top: 40vh;

      & .icones {
        margin-top: 20px;
        padding: 0 130px;

        & i {
          font-size: 20px;
        }
      }
    }
  }
  .FormsSection {
    width: 97%;
    padding: 0 10px;
    min-height: 100vh;
    margin-top: 10vh;

    & img {
      width: 90vw;
      max-width: 100%;
      margin-bottom: 20px;
      height: auto;
    }

    & .formulario {
      width: 100vw;
      max-width: 100%;
      padding: 20px 30px;
      margin-bottom: 0;

      & .tituloForms h1 {
        font-size: 28px;
      }

      & p {
        font-size: 13px;
        text-align: center;
      }

      & input,
      & textarea {
        font-size: 15px;
        padding: 10px 15px;
      }

      & button {
        height: 38px;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 430px) {
  .Home {
    width: 393px;
    height: 60vh;
  }

  .FormsSection {
    flex-direction: column;
    padding: 0 8px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 10vh;
    width: 100%;

    & img {
      width: 90vw;
      max-width: 100%;
      margin-bottom: 18px;
      height: auto;
    }

    & .formulario {
      width: 90vw;
      max-width: 100%;
      height: auto;
      padding: 18px 18px;

      & .tituloForms h1 {
        font-size: 30px;
        text-align: center;
      }

      & p {
        font-size: 12px;
      }

      & input,
      & textarea {
        font-size: 14px;
        padding: 8px 12px;
      }

      & button {
        height: 36px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 393px) {
  .Home {
    width: 393px;
    height: 65vh;
  }

  .FormsSection {
    padding: 0 5px;
    margin-top: 10vh;
    width: 95%;

    & img {
      width: 90vw;
      max-width: 100%;
      margin-bottom: 15px;
      height: auto;
    }

    & .formulario {
      width: 95vw;
      max-width: 100%;
      height: auto;
      padding: 15px 25px;

      & .tituloForms h1 {
        font-size: 25px;
      }

      & p {
        font-size: 11px;
      }

      & input,
      & textarea {
        font-size: 13px;
        padding: 8px 10px;
      }

      & button {
        height: 34px;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 380px) {
  .Home {
    width: 380px;
    height: 65vh;
  }

  .FormsSection {
    padding: 0 4px;
    margin-top: 10vh;
    width: 94%;

    & img {
      width: 90vw;
      max-width: 100%;
      margin-bottom: 13px;
      height: auto;
    }

    & .formulario {
      width: 94vw;
      max-width: 100%;
      height: auto;
      padding: 14px 22px;

      & .tituloForms h1 {
        font-size: 24px;
      }

      & p {
        font-size: 10.8px;
      }

      & input,
      & textarea {
        font-size: 12.8px;
        padding: 7.5px 9.5px;
      }

      & button {
        height: 33.5px;
        font-size: 12.8px;
      }
    }
  }
}
