.Home {
  width: 100%;
  height: 900px;
  position: relative;
  overflow: hidden;
  margin-top: -12px;

  & .videoHome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  & .TextHome {
    position: absolute;
    align-items: center;
    margin-top: 66vh;
    z-index: 2;
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;

    & .TextHome h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    & .icones {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 40vw;

      & i {
        color: #ffffff;
        font-size: 30px;
        transition: all 0.3s ease-in-out;
      }

      & i:hover {
        color: #929292;
        transform: scale(5.2);
      }
    }
  }
}

.Apresentation {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  gap: 130px;

  & .infos {
    width: 100%;
    height: auto;
    margin-left: 40px;

    & h1 {
      margin-top: 20px;
      color: #ffffff;
      font-weight: bold;
      font-size: 70px;
    }

    & p {
      margin-top: 20px;
    }
  }
}
.Services {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  gap: 130px;

  & .infos {
    width: 100%;
    height: auto;

    & h1 {
      margin-top: 20px;
      color: #ffffff;
      font-weight: bold;
      font-size: 50px;
    }

    & p {
      margin-top: 20px;
    }

    & span {
      color: #ffffff;
      font-weight: 900;
    }
  }
}

.Technologies {
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0 50px;
  gap: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .infos {
    width: 100%;
    height: auto;
    margin-left: 45px;

    & h1 {
      margin-top: 20px;
      color: #fff;
      font-size: 80px;
      font-weight: bold;
    }

    & p {
      margin-top: 20px;
      width: 100%;
      font-size: 20px;
    }
  }

  & img {
    width: 100vh;
    height: auto;
    margin-top: 20px;
  }
}

.Projects {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  gap: 130px;
  margin-top: 5em;

  & .titleSection {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    & h1 {
      margin-top: 20px;
      font-size: 80px;
      color: #ffffff;
      font-weight: bold;
    }

    & h3 {
      font-size: 40px;
      font-weight: 400;
    }
  }

  & .coluna1-horizontal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;

    & a {
      width: -20px;
    }

    & .img1 {
      width: 395px;
      height: 640px;
      background-image: url("../assets/arts/projetoCogu.png");
      background-position: center;
      background-size: cover;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 0px 20px #ffffff5d;
    }

    & .img2 {
      width: 395px;
      height: 640px;
      background-image: url("../assets/arts/projetoCogu2.png");
      background-position: center;
      background-size: cover;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 0px 20px #ffffff5d;
    }

    & .img3 {
      width: 395px;
      height: 640px;
      background-image: url("../assets/arts/projetoAMA.png");
      background-position: center;
      background-size: cover;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 0px 20px #ffffff5d;
    }
  }

  & .coluna2-horizontal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;

    & .img1 {
      width: 395px;
      height: 640px;
      background-image: url("../assets/arts/projetoComais.png");
      background-position: center;
      background-size: cover;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 0px 20px #ffffff5d;
    }
    & .img2 {
      width: 395px;
      height: 640px;
      background-image: url("../assets/arts/projetoZaghi.png");
      background-position: center;
      background-size: cover;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 0px 20px #ffffff5d;
    }
    & .img3 {
      width: 395px;
      height: 640px;
      background-image: url("../assets/arts/projetoUnity.png");
      background-position: center;
      background-size: cover;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 0px 20px #ffffff5d;
    }
  }
}

.Feedbacks {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;

  & .clienteTitulo {
    width: 100%;
    height: auto;
    color: #ffffff;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & h1 {
      font-size: 70px;
      font-weight: bold;
      color: #ffffff;
      margin-top: 20px;
      text-align: center;
    }

    & p {
      font-size: 25px;
      margin-top: 20px;
      color: #fff;
      text-align: center;
    }
  }

  .divQuadrados {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 120px;
    padding: 0 170px;

    & .quadrado {
      width: 300px;
      height: 380px;
      background-color: #000000;
      box-shadow: 0px 0px 20px #ffffff4b;
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      text-align: center;

      & .fotoCliente img {
        width: 120px;
        height: auto;
      }

      & .nomeCliente {
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
        margin-top: 30px;
      }

      & p {
        font-size: 15px;
        margin-top: 15px;
        width: 80%;
      }
    }
  }
}

.textOrb {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;

  & h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  & h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
}

footer {
  height: 12vh;
  background-color: #111111;

  & h1 {
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
  }
}

@media (min-width: 1920px) {
  .Home {
    margin-top: 0px;
    width: 100%;
    height: 900px;

    & .videoHome {
      object-fit: contain;
      height: 100%;
      width: 100%;
      margin-top: -120px;
    }

    & .TextHome {
      margin-top: 50vh;

      & .icones {
        margin-top: 50px;
      }
    }
  }

  .Apresentation {
    margin-top: -150px;
  }

  .Projects .coluna1-horizontal,
  .coluna2-horizontal {
    & .img1,
    .img2,
    .img3 {
      width: 450px;
    }
  }

  .Projects .coluna1-horizontal,
  .coluna2-horizontal {
    margin-left: 60px;
  }

  .Feedbacks {
    padding: 0 200px;
  }

  footer h1 {
    padding-top: 100px;
  }
}

@media (min-width: 1728px) and (max-width: 1919px) {
  .Home {
    width: 1728px;
    height: 90vh;

    & .TextHome {
      font-size: 4rem;
      margin-top: 58vh;

      & .icones {
        margin-top: 20px;

        & i {
          font-size: 30px;
        }
      }
    }
  }

  .Apresentation {
    gap: 10px;

    & .infos {
      width: 100%;
      & h1 {
        font-size: 60px;
        width: 100%;
      }
    }
  }

  .Services {
    margin-top: 10px;

    & .infos {
      width: 50%;

      & h1 {
        font-size: 40px;
      }
    }

    & .imageSoluctions {
      width: 59rem;
      margin-left: -80px;
    }
  }

  .Technologies {
    & .infos {
      width: 100%;

      & h1 {
        font-size: 50px;
      }

      & p {
        font-size: 16px;
        width: 80%;
      }
    }

    & img {
      width: 80vh;
      margin-right: 0vw;
    }
  }

  .Projects {
    & .coluna1-horizontal {
      gap: 40px;
      justify-content: center;
      & .img1,
      .img2,
      .img3 {
        width: 350px;
        height: 560px;
      }
    }

    & .coluna2-horizontal {
      gap: 40px;
      justify-content: center;
      & .img1,
      .img2,
      .img3 {
        width: 350px;
        height: 560px;
      }
    }
  }
}

@media (min-width: 1368px) and (max-width: 1559px) {
  .Technologies {
    & .infos {
      width: 100%;
      & h1 {
        font-size: 60px;
      }
      & p {
        font-size: 16px;
      }
    }
  }

  .Projects {
    & .coluna1-horizontal,
    .coluna2-horizontal {
      gap: 40px;
      justify-content: center;
      & .img1,
      .img2,
      .img3 {
        width: 350px;
        height: 560px;
      }
    }
  }
}

@media (max-width: 1367px) {
  .Home {
    width: 1366px;
    height: 550px;

    & .TextHome {
      font-size: 2rem;
      margin-top: 58vh;

      & .icones {
        margin-top: 20px;

        & i {
          font-size: 20px;
        }
      }
    }
  }

  .Apresentation {
    gap: 10px;

    & .infos {
      width: 100%;
      & h1 {
        font-size: 60px;
        width: 100%;
      }
    }
  }

  .Services {
    gap: 0px;
    margin-top: 10px;

    & .infos {
      width: 50%;

      & h1 {
        font-size: 40px;
      }
    }

    & .imageSoluctions {
      width: 42rem;
      margin-left: -120px;
    }
  }

  .Technologies {
    & .infos {
      width: 100%;

      & h1 {
        font-size: 50px;
      }

      & p {
        font-size: 16px;
      }
    }

    & img {
      width: 100vh;
      margin-right: 0vw;
    }
  }

  .Projects {
    & .coluna1-horizontal {
      gap: 40px;
      justify-content: center;
      & .img1,
      .img2,
      .img3 {
        width: 350px;
        height: 500px;
      }
    }

    & .coluna2-horizontal {
      gap: 40px;
      justify-content: center;
      & .img1,
      .img2,
      .img3 {
        width: 350px;
        height: 500px;
      }
    }
  }

  footer {
    padding-top: 20px;
  }
}

@media (max-width: 1120px) {
  .Home {
    width: 1120px;
    height: 650px;
    & .TextHome {
      font-size: 2.5rem;
      margin-top: 70vh;
      & .icones {
        padding: 0 35vw;

        & i {
          font-size: 28px;
        }
      }
    }
  }

  .Apresentation {
    gap: 80px;
    padding: 0 40px;

    & .infos {
      width: 100%;
      & h1 {
        font-size: 65px;
        width: 100%;
      }
    }
  }

  .Services {
    gap: 50px;
    margin-top: 10px;
    padding: 0 40px;

    & .infos {
      width: 55%;

      & h1 {
        font-size: 45px;
      }
    }

    & .imageSoluctions {
      width: 45rem;
      margin-left: -80px;
    }
  }

  .Technologies {
    gap: 20px;
    padding: 0 40px;

    & .infos {
      width: 100%;

      & h1 {
        font-size: 55px;
      }

      & p {
        font-size: 18px;
      }
    }

    & img {
      width: 95vh;
      margin-right: 0vw;
    }
  }

  .Projects .coluna1-horizontal,
  .coluna2-horizontal {
    & .img1,
    .img2,
    .img3 {
      width: 300px;
      height: 450px;
    }
  }

  & .coluna2-horizontal {
    gap: 30px;
    justify-content: center;
    padding: 0 80px;
    & .img1,
    .img2,
    .img3 {
      width: 320px;
      height: 520px;
    }
  }

  & .titleSection {
    & h1 {
      font-size: 75px;
    }

    & h3 {
      font-size: 38px;
    }
  }
}

.Feedbacks {
  & .clienteTitulo h1 {
    font-size: 50px;
  }
  & .divQuadrados {
    padding: 0 100px;
  }
}

footer {
  height: 20vh;
}

@media (max-width: 1033px) {
  .Home {
    height: 600px;
    & .TextHome {
      font-size: 2rem;
      margin-top: 50vh;
      & .icones {
        padding: 0 12vw;
        & i {
          font-size: 25px;
        }
      }
    }
  }

  .Apresentation,
  .Services,
  .Technologies,
  .Projects {
    flex-direction: column;
    gap: 50px;
    padding: 0 15px;
  }
  .Projects .coluna1-horizontal,
  .Projects .coluna2-horizontal {
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }
  .Feedbacks .divQuadrados {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }
}

@media (max-width: 820px) {
  .Home {
    width: 820px;
    height: 870px;
    & .TextHome {
      font-size: 3rem;
    }
  }

  .Apresentation {
    text-align: center;
    justify-content: center;
    padding: 0 50px;
    margin-left: -20px;

    & .infos {
      & h1 {
        font-size: 50px;
      }
    }
  }

  .Services {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin-left: -20px;

    & .infos {
      width: 80%;
      margin-top: -120px;
      & h1 {
        font-size: 40px;
      }
    }

    & .imageSoluctions {
      width: 50rem;
      margin-left: 80px;
    }
  }

  & .Technologies {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 0 120px;
    margin-left: -20px;
    margin-top: 7vh;

    & .infos {
      & h1 {
        font-size: 50px;
      }
    }

    & img {
      width: 70vh;
      margin-right: 0vw;
    }
  }

  .Projects {
    & .coluna1-horizontal,
    .coluna2-horizontal {
      text-align: center;
      justify-content: center;
      width: 100%;
      padding: 0 120px;
      margin-left: -20px;
      margin-top: 10vh;
    }

    & .titleSection {
      & h1 {
        font-size: 70px;
      }

      & h3 {
        font-size: 30px;
      }
    }
  }

  .Feedbacks {
    & .clienteTitulo {
      & h1 {
        font-size: 50px;
      }
    }
  }

  footer {
    height: 25vh;
    & h1 {
      padding: 120px;
    }
  }
}

@media (max-width: 608px) {
  .Home {
    width: 609px;
    height: 70vh;
    & .TextHome {
      font-size: 2.5rem;
      margin-top: 42vh;
      & .icones {
        padding: 0 10vw;
        & i {
          font-size: 24px;
        }
      }
    }
  }

  .Apresentation {
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    margin-left: -15px;

    & .infos {
      & h1 {
        font-size: 48px;
      }
    }
  }

  .Services {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
    margin-left: -15px;

    & .infos {
      width: 75%;
      margin-top: -100px;
      & h1 {
        font-size: 38px;
      }
    }

    & .imageSoluctions {
      width: 45rem;
      margin-left: 60px;
    }
  }

  .Technologies {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 0 90px;
    margin-left: -3vw;
    margin-top: 18vh;

    & .infos {
      & h1 {
        font-size: 48px;
      }
    }

    & img {
      width: 65vh;
      margin-right: 0vw;
    }
  }

  .Projects {
    & .coluna1-horizontal,
    .coluna2-horizontal {
      text-align: center;
      justify-content: center;
      width: 100%;
      padding: 0 100px;
      margin-left: -15px;
      margin-top: 8vh;

      & .img1,
      .img2,
      .img3 {
        width: 100%;
      }
    }

    & .titleSection {
      & h1 {
        font-size: 65px;
      }

      & h3 {
        font-size: 28px;
      }
    }
  }

  .Feedbacks {
    .divQuadrados .quadrado {
      height: 40vh;
    }

    & .clienteTitulo {
      & h1 {
        font-size: 38px;
      }
    }
  }

  footer {
    height: 30vh;
    margin-top: 30px;
    & h1 {
      padding: 120px;
    }
  }
}

@media (max-width: 575px) {
  .Home {
    width: 575px;
    height: 70vh;
    & .TextHome {
      font-size: 3rem;
    }
  }

  .Apresentation {
    text-align: center;
    justify-content: center;
    padding: 0 35px;
    margin-left: -20px;

    & .infos {
      & h1 {
        font-size: 45px;
      }
    }
  }

  .Services {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 0 8px;
    margin-left: -5px;

    & .infos {
      width: 72%;
      margin-top: -95px;
      & h1 {
        font-size: 36px;
      }
    }
  }

  .Technologies {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 0 80px;
    margin-left: -30px;
    margin-top: 17vh;

    & .infos {
      & h1 {
        font-size: 45px;
      }
    }

    & img {
      width: 60vh;
      margin-right: -10vw;
    }
  }

  .Projects {
    & .coluna1-horizontal,
    .coluna2-horizontal {
      text-align: center;
      justify-content: center;
      width: 100%;
      padding: 0 90px;
      margin-left: -12px;
      margin-top: 7vh;

      & .img1,
      .img2,
      .img3 {
        width: 100%;
        height: 510px;
      }
    }

    & .titleSection {
      & h1 {
        font-size: 62px;
      }

      & h3 {
        font-size: 27px;
      }
    }
  }

  .Feedbacks {
    .divQuadrados .quadrado {
      height: 42vh;
    }

    & .clienteTitulo {
      & h1 {
        font-size: 36px;
      }
    }
  }

  footer {
    height: 40vh;
    margin-top: 30px;
    & h1 {
      padding: 120px;
      font-size: 19px;
    }
  }
}

@media (max-width: 480px) {
  .Apresentation .image img#imagemEu {
    width: 28em !important;
    height: auto;
  }
  .Home {
    height: 360px;
    & .TextHome {
      font-size: 0.9rem;
      margin-top: 32vh;
      & .icones {
        padding: 0 6vw;
        & i {
          font-size: 18px;
        }
      }
    }
  }

  .Services .infos h1,
  .Projects .titleSection h1,
  .Feedbacks .clienteTitulo h1 {
    font-size: 32px;
  }

  .Apresentation,
  .Services,
  .Technologies,
  .Projects {
    gap: 30px;
    padding: 0 10px;
  }

  & .Services {
    padding-left: 40px;
    & .imageSoluctions {
      width: 35rem;
      margin-left: 40px;
    }
  }

  .Technologies {
    margin-top: 7vh;
    & img {
      width: 50vh;
    }
  }

  .Projects {
    & .coluna1-horizontal,
    .coluna2-horizontal {
      gap: 16px;
      padding: 0 10px;
    }

    & .coluna1-horizontal .img1,
    .coluna1-horizontal .img2,
    .coluna1-horizontal .img3,
    .coluna2-horizontal .img1,
    .coluna2-horizontal .img2,
    .coluna2-horizontal .img3 {
      width: 60%;
      height: 400px;
      border-radius: 16px;
    }

    & .titleSection {
      & h1 {
        font-size: 55px;
      }

      & h3 {
        font-size: 22px;
      }
    }
  }

  .Feedbacks {
    & .divQuadrados {
      gap: 16px;
      padding: 0 8px;
    }
    & .divQuadrados .quadrado {
      width: 90%;
      height: 410px;
      border-radius: 16px;
    }
    & .clienteTitulo p {
      font-size: 14px;
    }
  }

  .textOrb {
    width: 90%;

    & h1 {
      font-size: 2rem;
    }
  }

  footer {
    height: 30vh;
    & h1 {
      padding: 120px 0;
      font-size: 19px;
    }
  }
}

@media (max-width: 431px) {
  .Home {
    width: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    &.videoHome {
      width: 100%;
      & .TextHome {
        font-size: 0.85rem;
        margin-top: 30vh;
        & .icones {
          padding: 0 5vw;
          & i {
            font-size: 16px;
          }
        }
      }
    }
  }

  .Services .infos h1,
  .Feedbacks .clienteTitulo h1 {
    font-size: 28px;
  }

  .Apresentation .infos h1 {
    font-size: 40px;
  }

  .Technologies .infos h1 {
    font-size: 40px;
  }

  .Projects .titleSection h1 {
    font-size: 50px;
  }

  .Apresentation .image #imagemEu {
    width: 24em !important;
    height: auto;
  }

  .Apresentation,
  .Services,
  .Technologies,
  .Projects {
    gap: 24px;
    padding: 0 8px;
  }

  .Services {
    padding-left: 0px;
  }

  .Technologies {
    & img {
      width: 46vh;
    }
  }

  .Projects {
    & .coluna1-horizontal,
    .coluna2-horizontal {
      gap: 14px;
      padding: 0 8px;
    }
    & .coluna1-horizontal .img1,
    .coluna1-horizontal .img2,
    .coluna1-horizontal .img3,
    .coluna2-horizontal .img1,
    .coluna2-horizontal .img2,
    .coluna2-horizontal .img3 {
      width: 75%;
      height: 450px;
      border-radius: 16px;
    }

    & .titleSection {
      & h3 {
        font-size: 20px;
      }
    }
  }

  .Feedbacks {
    & .divQuadrados {
      padding: 0 6px;
    }
    & .divQuadrados .quadrado {
      width: 80%;
      height: 410px;
      border-radius: 16px;
    }
    & .clienteTitulo p {
      font-size: 13px;
    }
  }

  footer {
    height: 35vh;
    & h1 {
      padding: 120px 0;
      font-size: 19px;
    }
  }
}

@media (max-width: 393px) {
  .Services {
    padding: 0;
    margin-left: auto;
    margin-right: auto;

    & .infos h1 {
      font-size: 30px;
      width: 100%;
    }
  }

  .Technologies {
    margin-left: auto;
    margin-right: auto;

    & .infos {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .Projects {
    & .coluna1-horizontal,
    .coluna2-horizontal {
      gap: 14px;
      padding: 0 8px;
    }
    & .coluna1-horizontal .img1,
    .coluna1-horizontal .img2,
    .coluna1-horizontal .img3,
    .coluna2-horizontal .img1,
    .coluna2-horizontal .img2,
    .coluna2-horizontal .img3 {
      width: 80%;
      height: 400px;
      border-radius: 16px;
    }
    & .titleSection {
      & h3 {
        font-size: 20px;
      }
    }
  }

  footer {
    height: 37vh;
    & h1 {
      padding: 120px 10px;
      font-size: 18.5px;
    }
  }
}
